node_modules/
out/
resources/public/js
package-lock.json

*.swp
.clj-kondo/
.cpcache/
.lsp/
.rebel_readline_history
conjure-log-*.cljc
/target
/checkouts
/src/gen

pom.xml
pom.xml.asc
*.iml
*.jar
*.log
.shadow-cljs
.idea
.lein-*
.nrepl-*
.DS_Store

.hgignore
.hg/
